@charset "UTF-8";
/* CSS Document */
.space {
	height: 120px;
	line-height: 100%;
	background-image: url("../Website_Pics/AdobeStock_402438380.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 0%;
	background-origin: border-box;
	max-height: 100%;
}
.earth {
	height: 120px;
	line-height: 100%;
	background-image: url("../Website_Pics/AdobeStock_110515761.jpeg");
	background-size: cover;
	background-position: 0% 30%;
	background-origin: border-box;
	max-height: 100%;
}
.mind {
	height: 120px;
	line-height: 100%;
	background-image: url("../Website_Pics/AdobeStock_199560922.jpeg");
	background-size: cover;
	background-position: 0% 70%;
	background-origin: border-box;
	max-height: 100%;
}

