@charset "UTF-8";
/* CSS Document */
.custombutton {
	height: 120px;
	line-height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 0%;
	background-origin: border-box;
	max-height: 100%;
}

.clickable-row {
    cursor: pointer;
}