@charset "UTF-8";
/* CSS Document */
.custombutton {
	height: 120px;
	line-height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 0%;
	background-origin: border-box;
	max-height: 100%;
	margin-bottom: 15px;
}

.clickable-row {
    cursor: pointer;
}

.img-post
{
    margin: 0 auto;
    display: block;
	width: 80%;
}

.img-post-small
{
    margin: 0 auto;
    display: block;
	width: 50%;
}

.caption-post
{
    color:gray; 
	font-size: 80%; 
	text-align: center;
}