<hr>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <a href="https://www.facebook.com/aidan.velleca.1/" class="fa fa-facebook"></a>
        <a href="https://www.linkedin.com/in/aidan-velleca/" class="fa fa-linkedin"></a>
        <a href="https://www.youtube.com/@AstrodyneDesigner" class="fa fa-youtube"></a>
        <a href="https://www.instagram.com/aidanvelleca/" class="fa fa-instagram"></a>
      </div>
    </div>
</div>
<hr>
<footer class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>Copyright © Aidan Velleca. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>