<hr>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-instagram"></a>
      </div>
    </div>
</div>
<hr>
<footer class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>Copyright © Aidan Velleca. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>