---
layout: default
---
<!-- _layouts/category.html -->
{{ content }}
<hr>
<style type="text/css">
    
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th {
            padding: 5px 15px;
        }
        tr {
            border-bottom: 1px solid black; /* Border between rows */
        }
</style>
<div class="container">
    <table>
        {% for post in site.posts %}
            {% if post.categories contains page.category %}
                <tr class="clickable-row" data-href="{{ post.url }}">
                    <th><img src="{{ post.thumbnail_link | relative_url }}" style="width: 100px; height: 100px; object-fit: cover;"></th>
                    <th>{{ post.date | date: "%B %d, %Y" }}</th>
                    <th>{{ post.title }}</th>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>